@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');
@import url('https://css.gg/css?=|chevron-double-right-o|chevron-right-o|close-o');

body {
  background-color: white; /*rgba(25, 80, 105, 0.65);*/
  height: 707px;
}

#expMenu {
  position: absolute;
  left: 50%;
  top: 50%;
}

#Btn {
  box-sizing: border-box;
  display: block;
  transform: scale(var(--ggs,1));
  width: 25px;
  height: 25px;
  border: 2px solid;
  border-radius: 40px
}

.gg-close-o::after,
.gg-close-o::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  left: 26%;
  top: 45%;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  transition: opacity 1s;
}
.gg-close-o::after {
  transform: rotate(-45deg)
}

.gg-chevron-right-o {
  box-sizing: border-box;
  display: block;
  transform: scale(var(--ggs,1));
  width: 100%;
  height: 100%;
  border: 2px solid;
  border-radius: 100px
}
.gg-chevron-right-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  left: 30%;
  top: 35%;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  transition: opacity 1s;
}

#Selector {
  position: relative;
  left: 60px;
  top: -65px;
  transition: opacity 0.5s;
}

.closedMenu {
  opacity: 0;
}

.openedMenu {
  opacity: 1;
  animation: abrindo 0.5s;
}

@keyframes abrindo {
  0% {transform: translateX(-80px) scale(0.3);}
  100% {transform: scale(1);}
}
