@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

#graphs {
  position: relative;
  width: 79.5%;
  height: 100%;
  margin-left: 0.5%;
  text-align: center;
  float: left;
  border-radius: 25px;
  box-shadow: -3px 3px 8px rgb(5, 5, 5);
  //background-color: #19695A;
}
